<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= album.title %></title>
  <%- include ./partials/scripts_style.ejs %>
</head>
<body>
  <%- include ./partials/navbar.ejs %>

<div class="album-page-title">
  <h1><%= album.title %></h1>
  <em>by <%= album.artist %></em>
</div>
<br>


  <div class="album-review-list">

      <h2 class="album-review-list-title col-md-10">Reviews</h2>

      <form class="new-review-page-button" action="/albums/<%=album.id%>/reviews/new" method="GET">
        <button type="submit">Add Review</button>
      </form>
      <br>
      <br>
    <% if (reviews.length === 0) { %>

      <h5 class="col-md-8">No reviews yet!</h5>

    <% } else { %>

        <%- include ./partials/album_review_list.ejs %>

    <%}%>
  </div>

</body>
</html>
