<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <%- include ./partials/scripts_style.ejs %>
</head>
<body>
  <%- include ./partials/navbar.ejs %>
  <img src="http://ajournalofmusicalthings.com/wp-content/uploads/Record-collection.jpg" width="98.7%" height="275px"/>
  <br>
  <br>

  <div class="album-list col-md-4">
    <h2>Records</h2>
    <br>
    <% albums.forEach(function(album) { %>
      <div>
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>

  <div class="recent-review-list col-md-8">
    <h2>Recent Reviews</h2>
    <br>
    <%- include ./partials/recent_review_list.ejs %>
  </div>

</body>
</html>
