<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : New Review for <%= album.title %></title>
  <%- include ./partials/scripts_style.ejs %>
</head>
<body>
  <%- include ./partials/navbar.ejs %>
  <br>

<h1 class="new-review-form-title">New Review for <%= album.title %></h1>
<br>
<form class="new-review-form" action="/albums/<%=album.id %>/reviews/new" method="POST">
  <textarea class="new-review-box" rows="15" cols="55" name="content"></textarea>
  <br>
  <button type="submit" class="submit-review-button">Submit</button>
</form>

</body>
</html>
