<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= user.name %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <h5><%= user.name %></h5>
  <h5>Email <%= user.email %></h5>
  <h5>Date Joined <%= user.join_date.toDateString().substring(0, 15) %></h5>

  <br>

  <h2>Reviews</h2>
  <% if (reviews.length === 0) { %>

    <h5>No reviews yet!</h5>

  <% } else { %>

    <div class="review-list">
      <% reviews.forEach(function(review) { %>
        <div>
          <h5><%= review.album_reviewed %></h5>
          <h5><%= review.content %></h5>
          <h5><%= review.review_date.toDateString().substring(0, 15) %></h5>
          <span><%= review.author %></span>
        </div>
      <% }) %>
    </div>

  <%}%>

</body>
</html>
