<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= profile.name %></title>
  <%- include ./partials/scripts_style.ejs %>
</head>
<body>
  <%- include ./partials/navbar.ejs %>

  <img class="profile-pic" src= "http://media.istockphoto.com/photos/smiley-face-drawing-picture-id157527255" width="200px" height="200px" />
  <div class="user-page-title">
    <h1><%= profile.name %></h1>
    <h3>Email <%= profile.email %></h3>
    <h3>Date Joined <%= profile.join_date.toDateString().substring(0, 15) %></h3>
  </div>

  <br>

  <div class="user-review-list">

      <h2 class="album-review-list-title col-md-10">Reviews</h2>
      <br>
      <br>
    <% if (reviews.length === 0) { %>

      <h5 class="col-md-8">No reviews yet!</h5>

    <% } else { %>

        <%- include ./partials/user_review_list.ejs %>

    <%}%>
  </div>

</body>
</html>
